#main__form{
    background : linear-gradient(to bottom, hsl(218, 28%, 13%) 70%, hsl(216, 53%, 9%) 30%);
}

.form{
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    border-radius: 5px;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.3);
    margin-top: 7%;

}

.form h1{
    color: white;
    font-family: Raleway;
    padding:  15px 0;
}

.form p{
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    color: rgb(196, 196, 196);
    font-family: "Open Sans";
    font-size: .8rem;
    line-height: 1.6;
    padding: 0 30px 10px 30px;
}

.form .form-input{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.form .form-input form input,
.form .form-input form button{
    border-radius: 100px;
    padding: 8.5px  25px;
    outline: none;
    border: none;
}

.form .form-input form input{
    margin: 10px;
    padding-right: 80px;


}
.form .form-input form button{
    cursor: pointer;
    background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: white;
    font-weight: 100;


}



@media only screen and (max-width:40rem){

    #main__form{
        background : linear-gradient(to bottom, hsl(218, 28%, 13%) 60%, hsl(216, 53%, 9%) 40%);
    }
    .form .form-input{
        flex-direction: column;
    }
    .form .form-input form button,
    .form .form-input form input{
        width: 100%;
        max-width: 300px;
    }

}

