@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-size: 14px;

}

body{
    background-color:  hsl(217, 27%, 19%);

}

.container{
    max-width: 1440px;
    margin-inline: auto;
}


@media only screen and (max-width: 40rem) {
    .container{
        max-width: 375px;
        width: 100%;
    }
    
}